<footer class="footer mt-auto py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="ms-3"><a href="https://github.com/fodpho/fodpho.github.io"><i class="fab fa-github fa-lg"></i></a></li>
        <li class="ms-3"><a href="/feed.xml"><i class="fas fa-rss fa-lg"></i></a></li>
    </ul>
        <p class="text-center text-muted">&copy; 2022 Isaac Liang's Crystal Book. <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="text-decoration-none">CC BY-SA 4.0</a>.</p>
</footer>
